FORMAT: 1A
HOST: http://api.boilerpl8.me/

# boilerpl8

Boilerpl8 has a simple API to discover new recipes in your favorite cuisines and learn about the ingredients in your food.

## Cuisines Collection [/cuisines]

### List Cuisines [GET]

+ Response 200 (application/json)

        [
            {
                "numCuisines": 4,
                "cuisines": [
                    {
                        "id": "1",
                        "title": "American"
                    }, {
                        "id": "2",
                        "title": "Mexican"
                    }, {
                        "id": "3",
                        "title": "Chinese"
                    }, {
                        "id": "4",
                        "title": "Indian"
                    }
                ]
            }
        ]

## Recipes in Cuisine Collection [/cuisinesRecipes/{cuisine_id}]
### Get list of recipes for a cuisine [GET]

+ Parameters
    + cuisine_id (number) - ID of the cuisine 


+ Response 200 (application/json)

        [
            {
                "numRecipes": 2,
                "recipes": [
                    {
                        "id": "1",
                        "title": "Grilled Cheese"
                    }, {
                        "id": "2",
                        "title": "Tomato Soup"
                    }
                ]
            }
        ]
        
## Recipe Information Collection [/recipes/{recipe_id}]
### Get information for a recipe [GET]

+ Parameters
    + recipe_id (number) - ID of the recipe 


+ Response 200 (application/json)

        [
            {
                "title": "GrilledCheese",
                "readyInMinutes": 10,
                "servings": 2,
                "calories": 300,
                "steps": "Heat pan on medium heat. Put cheese between two slices of bread. Cook both sides of the sandwich."
            }
        ]        
        
## Cuisine Information Collection [/cuisine/{cuisine_id}]
### Get information for a cuisine [GET]

+ Parameters
    + cuisine_id (number) - ID of the cuisine 

+ Response 200 (application/json)

        [
            {
                "title": "American",
                "numberOfRecipes": 1,
                "averageNumberOfIngredientsPerRecipe": 3,
                "continent": "North America",
                "averageCalories": 300
            }
        ]
        
## Ingredient Information Collection [/ingredient/{ingredient_id}]
### Get information for an ingredient [GET]

+ Parameters
    + ingredient_id (number) - ID of the ingredient 

+ Response 200 (application/json)

        [
            {
                "title": "Bread",
                "serving_size": "2 slices",
                "total_weight": "1 lb",
                "brand": "Nature's Own",
                "category": "bread"
            }
        ]