FORMAT: 1A
HOST: http://boilerpl8.me/

# boilerpl8

Boilerpl8 has a simple API to discover new recipes in your favorite cuisines and learn about the ingredients in your food.

## Cuisines Collection [/api/cuisines]

### List Cuisines [GET]

+ Response 200 (application/json)

        {
            "cuisines": [
                {
                    "averageCalories": 300, 
                    "averageNumberOfIngredientsPerRecipe": 5, 
                    "continent": "North America", 
                    "id": 1, 
                    "numberOfRecipes": 1, 
                    "title": "American"
                }, {

                    "averageCalories": 270, 
                    "averageNumberOfIngredientsPerRecipe": 6, 
                    "continent": "Asia", 
                    "id": 25, 
                    "numberOfRecipes": 3, 
                    "title": "Chinese"
                }
            ]
        }
        
## Cuisine Information Collection [/api/cuisines/{cuisine_id}]
### Get information for a cuisine [GET] 

+ Parameters
    + cuisine_id (number) - ID of the cuisine 

+ Response 200 (application/json)

        {
            "averageCalories": 300, 
            "averageNumberOfIngredientsPerRecipe": 5, 
            "continent": "North America", 
            "id": 1, 
            "numberOfRecipes": 1, 
            "title": "American"
        }
        
## Cuisine with Recipe Collection [/api/cuisines/{cuisine_id}/recipes]
### Get information for a cuisine with list of related recipes [GET]

+ Parameters
    + cuisine_id (number) - ID of the cuisine

+ Response 200 (application/json)

        {
            "recipes": [
                {
                    "title": "GrilledCheese",
                    "readyInMinutes": 10,
                    "servings": 2,
                    "calories": 300,
                    "steps": "Heat pan on medium heat. Put cheese between two slices of bread. Cook both sides of the sandwich."
                }, 
                {
                    "title": "GrilledCheese",
                    "readyInMinutes": 10,
                    "servings": 2,
                    "calories": 300,
                    "steps": "Heat pan on medium heat. Put cheese between two slices of bread. Cook both sides of the sandwich."
                }
            ], 
            "cuisine": 
                {
                    "averageCalories": 300, 
                    "averageNumberOfIngredientsPerRecipe": 5, 
                    "continent": "North America", 
                    "id": 1, 
                    "numberOfRecipes": 1, 
                    "title": "American"   
                }
        }
    

     
## Recipe Collection [/api/recipes]
### List Recipes [GET]

+ Response 200 (application/json)

        {
            "recipes": [
                {
                    "title": "GrilledCheese",
                    "readyInMinutes": 10,
                    "servings": 2,
                    "calories": 300,
                    "steps": "Heat pan on medium heat. Put cheese between two slices of bread. Cook both sides of the sandwich."
                }, 
                {
                    "title": "Pasta",
                    "readyInMinutes": 14,
                    "servings": 2,
                    "calories": 250,
                    "steps": "Boil water. Put pasta in the boiling water for 14 minutes. Strain and enjoy!"
                }
            ]
        }

        
## Recipe Information Collection [/api/recipes/{recipe_id}]
### Get information for a recipe [GET]

+ Parameters
    + recipe_id (number) - ID of the recipe 


+ Response 200 (application/json)

        {
            "title": "GrilledCheese",
            "readyInMinutes": 10,
            "servings": 2,
            "calories": 300,
            "steps": "Heat pan on medium heat. Put cheese between two slices of bread. Cook both sides of the sandwich."
        }

## Recipe with Ingredients and Cuisine Collection [/api/recipes/{recipe_id}/ingredients]
### Get information for a recipe, including a list of ingredients and type of cuisine [GET]


+ Parameters
    + recipe_id (number) - ID of the recipe
    
+ Response 200 (application/json)

        {
            "ingredients": [
                {
                    "brand": "Bread Inc", 
                    "category": "Bread", 
                    "id": 1, 
                    "imageURL": "https://static.pexels.com/photos/5802/bread-food-cooking.jpg", 
                    "serving_size": "1 slice", 
                    "title": "Bread", 
                    "total_weight": "3 oz"
                },                 
                {
                    "brand": "Cheese Inc", 
                    "category": "Dairy", 
                    "id": 89, 
                    "imageURL": "http://media.istockphoto.com/photos/cheese-picture-id510168428", 
                    "serving_size": "1 slice", 
                    "title": "Cheese", 
                    "total_weight": "1 oz"
                }, 
            ], 
            "recipe":
                {
                    "title": "GrilledCheese",
                    "readyInMinutes": 10,
                    "servings": 2,
                    "calories": 300,
                    "steps": "Heat pan on medium heat. Put cheese between two slices of bread. Cook both sides of the sandwich."
                },
            "cuisine": 
                {
                    
                }
        }
        
## Ingredient Collection [/api/ingredients]
### List Ingredients [GET]

+ Response 200 (application/json)

        {
            "ingredients": [
                {
                "brand": "Bread Inc", 
                "category": "Bread", 
                "id": 1, 
                "imageURL": "https://static.pexels.com/photos/5802/bread-food-cooking.jpg", 
                "serving_size": "1 slice", 
                "title": "Bread", 
                "total_weight": "3 oz"
                }, 
                {
                "brand": "Orange Inc", 
                "category": "Citrus", 
                "id": 45, 
                "imageURL": "https://static.pexels.com/photos/67867/orange-falling-water-splash-67867.jpeg", 
                "serving_size": "1 orange", 
                "title": "Orange", 
                "total_weight": "10 oz"
                }
            ]
        }

        

        
## Ingredient Information Collection [/api/ingredients/{ingredient_id}]
### Get information for an ingredient [GET]

+ Parameters
    + ingredient_id (number) - ID of the ingredient 

+ Response 200 (application/json)

        {
          "brand": "Bread Inc", 
          "category": "Bread", 
          "id": 1, 
          "imageURL": "https://static.pexels.com/photos/5802/bread-food-cooking.jpg", 
          "serving_size": "1 slice", 
          "title": "Bread", 
          "total_weight": "3 oz"
        }