<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center main-title">Meet Team Spook</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-xs-7 col-sm-7 col-center" ng-repeat="member in members">
      <div class="row">
        <img ng-src="{{github[member.login].avatar_url}}" style="width:100%"/>
      </div>
      <div class="row">
        <h2 class="text-center">{{member.name}}</h2>
      </div>
      <div class="row text-center">
        <a ng-href="{{github[member.login].url}}">
          <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        </a>
        <a ng-href="{{member.instagram_url}}">
          <i ng-show="member.instagram_url != null" class="fa fa-instagram fa-2x" aria-hidden="true"></i>
        </a>
        <a ng-href="{{member.twitter_url}}">
          <i ng-show="member.twitter_url != null" class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        </a>
        <a ng-href="{{member.linkedin_url}}">
          <i ng-show="member.linkedin_url != null" class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
        </a>
        <a ng-href="{{member.pintrest_url}}">
          <i ng-show="member.pintrest_url != null" class="fa fa-pintrest fa-2x" aria-hidden="true"></i>
        </a>
        <a ng-href="{{member.twitch_url}}">
          <i ng-show="member.twitch_url != null" class="fa fa-twitch fa-2x" aria-hidden="true"></i>
        </a>
        <a ng-href="{{member.reddit_url}}">
          <i ng-show="member.reddit_url != null" class="fa fa-reddit-alien fa-2x" aria-hidden="true"></i>
        </a>
      </div>
      <div class="row text-center">
        <p><strong>Commit Count:</strong> {{github[member.login].contributions}}</p>
        <p><strong>Issue Count:</strong> {{github[member.login].issues}}</p>
        <p><strong>Unit Tests Count:</strong> {{member.tests}}</p>
        <p><strong>Responsible for:</strong> {{member.responsibilities}}</p>
      </div>
      <div class="row">
        <p class="text-center">{{member.description}}</p>
      </div>
    </div>
  </div>
  <div class="horizontal-divider"></div>
  <div class="row">
    <div class="col-md-3 text-center">
      <h2>Statistics</h2>
      <p><strong>Total Commit Count:</strong> {{stats.commits}}</p>
      <p><strong>Toal Issue Count:</strong> {{stats.issues}}</p>
      <p><strong>Total Unit Tests:</strong> {{stats.tests}}</p>
      <div ng-repeat="source in projects">
        <a ng-href="{{source.link}}"><p>{{source.name}}</p></a>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <h2>Tools</h2>
      <div ng-repeat="tool in tools">
        <a ng-href="{{tool.link}}"><p>{{tool.name}}</p></a>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <h2>Data</h2>
      <div ng-repeat="data in dataUsed">
        <a ng-href="{{data.link}}"><p>{{data.name}}</p></a>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <h2>Other Databases</h2>
      <div ng-repeat="site in sites">
        <a ng-href="{{site.link}}"><p>{{site.name}}</p></a>
      </div>
    </div>
  </div>
  <div class="row text-center">
      <h2 class="text-center">Scraping the Data</h2>
      <p>The data was obtained through FoodFacts's and Spoonacular's APIs. With GET requests we got data formatted in JSON which we recorded and placed in an Angular factory.</p> 
    </div>
  </div>
  <div>
    <div class="row text-center">
      <h2 class="text-center">Test Output</h2>
      <p>{{tests}}</p> 
    </div>
  </div>
</div>