
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <h2 class="text-center">About Us</h2>
    </div>
  </div>
</div>

<div class="container-fluid">
 <!-- start of member 1/2 row -->
    <div class="row">
      <!-- Member 3 col-->
      <div class = "col-md-offset-2 col-md-4 col-xs-12 member">
        <!-- Picture Row -->
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <img src="/static/images/seth.jpeg" class="img-circle center-block profile propic">
          </div>
        </div>
        <!-- Name Row -->
        <div class-"row">
          <div class="col-md-12 col-xs-12"> 
            <h2 class="text-center"><b>Seth Milligan</b></h2>
          </div>
        </div>         
        <!--Bio Row -->
        <div class="row">
          <!-- bio col -->
          <div class="col-md-offset-0 col-md-12 col-xs-offset-1 col-xs-10">
            <p class="info text-center">Hey everyone! My name is Seth and I’m a senior studying computer science at the University of Texas at Austin. Some of my hobbies include disc golf, playing board games, and listening to music.</p>
          </div>
        </div>


        <!-- Coontributions Row -->
        <div class="row">
          <!-- Commits Col -->
          <div class="col-md-4 col-xs-4">
            <div>
              <p class="category text-center"><b>Issues Submitted</b><br/><span class="info inline">3</span></p>
            </div>
          </div>
          <!-- Issues Col -->
          <div class="col-md-4 col-xs-4">
            <div>
              <p class="category text-center"><b>Commits Made</b><br/><span class="info inline">12</span></p>
            </div>
          </div>
          <!-- Units Tests Col -->
          <div class="col-md-4 col-xs-4">
            <div>
              <p class="category text-center"><b>Unit Tests Created</b><br/><span class="info inline">2</span></p>
            </div>
          </div>
        </div>

                <!-- Major Responsibilities row -->
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <div>
              <p class="category text-center"><b>Major Responsibilities</b><br/><span class="info inline">Backend</span></p>
            </div>
          </div>
        </div>  
      </div>     

    <!-- Member 4 col-->
    <div class = "col-md-4 col-xs-12 member">
      <!-- Picture Row -->
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <img src="/static/images/alan.jpg" class="img-circle center-block profile propic">
        </div>
      </div>
      <!-- Name Row -->
      <div class-"row">
        <div class="col-md-12 col-xs-12"> 
          <h2 class="text-center"><b>Alan Ma</b></h2>
        </div>
      </div>         
      <!--Bio Row -->
      <div class="row">
        <!-- bio col -->
        <div class="col-md-offset-0 col-md-12 col-xs-offset-1 col-xs-10">
          <p class="info text-center">hi howdy hello i don't share feelings</p>
        </div>
      </div>

      <!-- Coontributions Row -->
      <div class="row">
        <!-- Commits Col -->
        <div class="col-md-4 col-xs-4">
          <div>
            <p class="category text-center"><b>Issues Submitted</b><br/><span class="info inline">1</span></p>
          </div>
        </div>
        <!-- Issues Col -->
        <div class="col-md-4 col-xs-4">
          <div>
            <p class="category text-center"><b>Commits Made</b><br/><span class="info inline">1</span></p>
          </div>
        </div>
        <!-- Units Tests Col -->
        <div class="col-md-4 col-xs-4">
          <div>
            <p class="category text-center"><b>Unit Tests Created</b><br/><span class="info inline">1</span></p>
          </div>
        </div>
      </div>
  
          <!-- Major Responsibilities row -->
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div>
            <p class="category text-center"><b>Major Responsibilities</b><br/><span class="info inline">Full Stack</span></p>
          </div>
        </div>
      </div>  
    </div>
    <!-- end member 4 col --> 
  </div>
  <!-- end of member 3/4 row -->


    <!-- start of member 3/4 row -->
    <div class="row">
      <!-- Member 3 col-->
      <div class = "col-md-offset-2 col-md-4 col-xs-12 member">
        <!-- Picture Row -->
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <img src="/static/images/anthony.jpeg" class="img-circle center-block profile propic">
          </div>
        </div>
        <!-- Name Row -->
        <div class-"row">
          <div class="col-md-12 col-xs-12"> 
            <h2 class="text-center"><b>Anthony Gallop</b></h2>
          </div>
        </div>         
        <!--Bio Row -->
        <div class="row">
          <!-- bio col -->
          <div class="col-md-offset-0 col-md-12 col-xs-offset-1 col-xs-10">
            <p class="info text-center">My name is Anthony Gallop (That's -op, not -up. I'm suing the Gallup Poll for pain and suffering). My hobbies include playing video games and making bad chat bots. </p>
          </div>
        </div>


        <!-- Coontributions Row -->
        <div class="row">
          <!-- Commits Col -->
          <div class="col-md-4 col-xs-4">
            <div>
              <p class="category text-center"><b>Issues Submitted</b><br/><span class="info inline">3</span></p>
            </div>
          </div>
          <!-- Issues Col -->
          <div class="col-md-4 col-xs-4">
            <div>
              <p class="category text-center"><b>Commits Made</b><br/><span class="info inline">12</span></p>
            </div>
          </div>
          <!-- Units Tests Col -->
          <div class="col-md-4 col-xs-4">
            <div>
              <p class="category text-center"><b>Unit Tests Created</b><br/><span class="info inline">2</span></p>
            </div>
          </div>
        </div>

                <!-- Major Responsibilities row -->
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <div>
              <p class="category text-center"><b>Major Responsibilities</b><br/><span class="info inline">Frontend</span></p>
            </div>
          </div>
        </div>  
      </div>     

    <!-- Member 4 col-->
    <div class = "col-md-4 col-xs-12 member">
      <!-- Picture Row -->
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <img src="/static/images/jessica.jpeg" class="img-circle center-block profile propic">
        </div>
      </div>
      <!-- Name Row -->
      <div class-"row">
        <div class="col-md-12 col-xs-12"> 
          <h2 class="text-center"><b>Jessica Lindee</b></h2>
        </div>
      </div>         
      <!--Bio Row -->
      <div class="row">
        <!-- bio col -->
        <div class="col-md-offset-0 col-md-12 col-xs-offset-1 col-xs-10">
          <p class="info text-center">hi. 2spooky4me </p>
        </div>
      </div>

      <!-- Coontributions Row -->
      <div class="row">
        <!-- Commits Col -->
        <div class="col-md-4 col-xs-4">
          <div>
            <p class="category text-center"><b>Issues Submitted</b><br/><span class="info inline">this</span></p>
          </div>
        </div>
        <!-- Issues Col -->
        <div class="col-md-4 col-xs-4">
          <div>
            <p class="category text-center"><b>Commits Made</b><br/><span class="info inline">is</span></p>
          </div>
        </div>
        <!-- Units Tests Col -->
        <div class="col-md-4 col-xs-4">
          <div>
            <p class="category text-center"><b>Unit Tests Created</b><br/><span class="info inline">something</span></p>
          </div>
        </div>
      </div>
  
          <!-- Major Responsibilities row -->
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div>
            <p class="category text-center"><b>Major Responsibilities</b><br/><span class="info inline">wut</span></p>
          </div>
        </div>
      </div>  
    </div>
    <!-- end member 4 col --> 
  </div>
  <!-- end of member 3/4 row -->

  <!-- start of member 5 row -->
  <div class="row">
    <!-- Member 5 col-->
    <div class = "col-md-offset-4 col-md-4 col-xs-12 member">
      <!-- Picture Row -->
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <img src="/static/images/zachary.jpg" class="img-circle center-block profile propic">
        </div>
      </div>
      <!-- Name Row -->
      <div class-"row">
        <div class="col-md-12 col-xs-12"> 
          <h2 class="text-center"><b>Zach Gilkerson</b></h2>
        </div>
      </div>         
      <!--Bio Row -->
      <div class="row">
        <!-- bio col -->
        <div class="col-md-offset-0 col-md-12 col-xs-offset-1 col-xs-10">
          <p class="info text-center">yooo</p>
        </div>
      </div>

      <!-- Coontributions Row -->
      <div class="row">
        <!-- Commits Col -->
        <div class="col-md-4 col-xs-4">
          <div>
            <p class="category text-center"><b>Issues Submitted</b><br/><span class="info inline">1</span></p>
          </div>
        </div>
        <!-- Issues Col -->
        <div class="col-md-4 col-xs-4">
          <div>
            <p class="category text-center"><b>Commits Made</b><br/><span class="info inline">1</span></p>
          </div>
        </div>
        <!-- Units Tests Col -->
        <div class="col-md-4 col-xs-4">
          <div>
            <p class="category text-center"><b>Unit Tests Created</b><br/><span class="info inline">1</span></p>
          </div>
        </div>
      </div>
  
          <!-- Major Responsibilities row -->
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div>
            <p class="category text-center"><b>Major Responsibilities</b><br/><span class="info inline">1</span></p>
          </div>
        </div>
      </div>  
    </div>
    <!-- end member 5 col --> 
  </div>




  <!-- end of member 5 row --> 
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-2 col-md-4 col-xs-6">
      <!-- Tools -->
      <br>
      <h2 class="text-center">Tools</h2>
    </div>
    <div class="col-md-4 col-xs-6">
      <!-- Data -->
      <br>
      <h2 class="text-center">Data Used</h2>
    </div>
  </div>
</div>
<!-- end of container -->

