<div id="header"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h2 class="text-center">Cuisines</h2>
        </div>
    </div>
</div>
<div class ="container" style="overflow:auto">
    <form class="form-inline">
        <div class="form-group">
            <label> Search: </label>
            <input ng-model="search" class="form-control"> 
        </div>
    </form>
    <div class="bottomSpacing"/>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td width="20%">
                            <a ng-click="sortType = 'title'; sortReverse = !sortReverse">Type</a>
                            <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
                        </td>
                        <td width="20%">
                            <a ng-click="sortType = 'continent'; sortReverse = !sortReverse">Continent</a>
                            <span ng-show="sortType == 'continent' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'continent' && sortReverse" class="fa fa-caret-up"></span>
                        </td>
                        <td width="20%">
                            <a ng-click="sortType = 'numberOfRecipes'; sortReverse = !sortReverse">Recipe Count</a>
                            <span ng-show="sortType == 'numberOfRecipes' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'numberOfRecipes' && sortReverse" class="fa fa-caret-up"></span>
                        </td>

                        <td width="20%">
                            <a ng-click="sortType = 'averageNumberOfIngredientsPerRecipe'; sortReverse = !sortReverse">Average Ingredient Count</a>
                            <span ng-show="sortType == 'averageNumberOfIngredientsPerRecipe' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'averageNumberOfIngredientsPerRecipe' && sortReverse" class="fa fa-caret-up"></span>
                        </td>
                        <td width="20%">
                            <a ng-click="sortType = 'averageCalories'; sortReverse = !sortReverse">Average Calorie Count</a>
                            <span ng-show="sortType == 'averageCalories' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'averageCalories' && sortReverse" class="fa fa-caret-up"></span>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="cuisine in cuisines|orderBy:sortType:sortReverse|filter:search|itemsPerPage:20">
                        <td><a ng-href="cuisines/{{cuisine.id}}">{{ cuisine.title }}</a></td>
                        <td>{{ cuisine.continent }}</td>
                        <td>{{ cuisine.numberOfRecipes }}</td>
                        <td>{{ cuisine.averageNumberOfIngredientsPerRecipe }}</td>
                        <td>{{ cuisine.averageCalories }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
	<div class="row text-center">
		<dir-pagination-controls
		  max-size="8"
		  direction-links="true"
		  boundary-links="true" >
		</dir-pagination-controls>
	</div>
</div>
