<div class ="container">
	<div class="row">
		<div class="col-md-6">
			<img ng-src="{{cuisine.url}}" style="width:100%"/>
		</div>
		<div class="col-md-6">
			<h1>{{cuisine.title}}</h1>
			<div>Number of Recipes: {{cuisine.numberOfRecipes}}</div>
			<div>Average Number of Ingredients Per Recipe: {{cuisine.averageNumberOfIngredientsPerRecipe | number:2}}</div>
			<div>Continent: {{cuisine.continent}}</div>
			<div>Average Calories Per Recipe: {{cuisine.averageCalories | number:2}}</div>
		</div>
	</div>
</div>
