<div id="header"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h2 class="text-center">Ingredients</h2>
        </div>
    </div>
</div>
<div class ="container" style="overflow:auto">
    <form class="form-inline">
        <div class="form-group">
            <label> Search: </label>
            <input ng-model="search" class="form-control"> 
        </div>
    </form>
    <div class="bottomSpacing"/>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td width="20%" ng-click="sortType = 'title'; sortReverse = !sortReverse; currentPage = 1">
                            Title
                            <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
                        </td>
                        <td width="20%" ng-click="sortType = 'serving_size'; sortReverse = !sortReverse; currentPage = 1">
                            Serving Size
                            <span ng-show="sortType == 'serving_size' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'serving_size' && sortReverse" class="fa fa-caret-up"></span>
                        </td>
                        <td width="20%" ng-click="sortType = 'total_weight'; sortReverse = !sortReverse; currentPage = 1">
                            Total Weight
                            <span ng-show="sortType == 'total_weight' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'total_weight' && sortReverse" class="fa fa-caret-up"></span>
                        </td>

                        <td width="20%" ng-click="sortType = 'brand'; sortReverse = !sortReverse; currentPage = 1">
                            Brand
                            <span ng-show="sortType == 'brand' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'brand' && sortReverse" class="fa fa-caret-up"></span>
                        </td>
                        <td width="20%" ng-click="sortType = 'category'; sortReverse = !sortReverse; currentPage = 1">
                            Category
                            <span ng-show="sortType == 'category' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'category' && sortReverse" class="fa fa-caret-up"></span>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="ingredient in ingredients
                        | orderBy: sortType:sortReverse
                        | filter: search
                        | itemsPerPage: 20"
                        current-page="currentPage">
                        <td><a ng-href="ingredients/{{ingredient.id}}">{{ ingredient.title }}</a></td>
                        <td>{{ ingredient.serving_size }}</td>
                        <td>{{ ingredient.total_weight }}</td>
                        <td>{{ ingredient.brand }}</td>
                        <td>{{ ingredient.category }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row text-center">
        <dir-pagination-controls
          max-size="8"
          direction-links="true"
          boundary-links="true" >
        </dir-pagination-controls>
    </div>
</div>
