
<!-- Background Carousel -->
<div id="myCarousel" class="carousel container slide">
  <div class="carousel-inner">
    <div class="active item one"></div>
    <div class="item two"></div>
    <div class="item three"></div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({interval: 5000});
  });
</script>
<!-- End Background Carousel -->

<script>
  $(function(){
    $(".element").typed({
      strings: ["sweet.", "spicy.", "savory.", "delicious."],
      typeSpeed: 45,
      backSpeed: 45,
      backDelay: 1250,
      loop: false,
    });
  });
</script>

<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-xs-offset-0 col-xs-12">
      <div class="jumbotron splash-jumbotron">
        <h2 class="typed text-center">I am looking for something<br><span class="element"></span></h2>
        <hr>
        <search placeholder="Search..." wait=500 ></search>
      </div>
    </div>
  </div>
</div>
