<!-- Picture Row -->
<div class="row divcolor1 antisocial">
  <div class="col-md-12 col-xs-12 roomy">
    <img ng-src="{{ info.image }}" class="img-circle img-fluid center-block profile">
  </div>
</div>
<!-- Name Row -->
<div class-"row divcolor4 antisocial">
  <div class="col-md-12 col-xs-12 divcolor4"> 
    <h2 class="text-center textcolor1"><b>{{ info.name }}</b></h2>
  </div>
</div>         
<!--Bio Row -->
<div class="row divcolor1">
<!-- bio col -->
  <div class="col-md-offset-0 col-md-12 col-xs-offset-1 col-xs-10 roomy">
    <p class="info text-center textcolor4">{{ info.bio }}</p>
  </div>
</div>

<!-- Coontributions Row -->
<div class="row divcolor1">
  <!-- Commits Col -->
  <div class="col-md-4 col-xs-4 roomy">
    <div>
      <p class="category text-center textcolor3"><b>Issues Submitted</b><br/><span class="info inline textcolor4">{{ info.issues }}</span></p>
    </div>
  </div>
  <!-- Issues Col -->
  <div class="col-md-4 col-xs-4 roomy">
    <div>
      <p class="category text-center textcolor3"><b>Commits Made</b><br/><span class="info inline textcolor4">{{ info.commits }}</span></p>
    </div>
  </div>
  <!-- Units Tests Col -->
  <div class="col-md-4 col-xs-4 roomy">
    <div>
      <p class="category text-center textcolor3"><b>Unit Tests Created</b><br/><span class="info inline textcolor4">{{ info.tests }}</span></p>
    </div>
  </div>
</div>
<!-- Major Responsibilities row -->
<div class="row divcolor1">
  <div class="col-md-12 col-xs-12 roomy">
    <div>
      <p class="category text-center textcolor3"><b>Major Responsibilities</b><br/><span class="info inline textcolor4">{{ info.responsibilities }}</span></p>
    </div>
  </div>
</div>   
