<style>
.text1 {
  color: #690202;
}
.text2 {
  color: #690202
}
.text3 {
  color: #e1c18f;
}

.div1 {
  background-color: #e1c18f;
  padding-top: 25px;
 
}
.div2 {
  background-color: #690202;
  margin-top: 25px;
  margin-bottom: 25px;
}
</style>

<!-- Picture Row -->
<div class="row div1">
  <div class="col-md-12 col-xs-12">
    <img ng-src="{{ info.image }}" class="img-circle center-block profile propic">
  </div>
</div>
<!-- Name Row -->
<div class-"row div1">
  <div class="col-md-12 col-xs-12 div2"> 
    <h2 class="text-center text3"><b>{{ info.name }}</b></h2>
  </div>
</div>         
<!--Bio Row -->
<div class="row div1">
<!-- bio col -->
  <div class="col-md-offset-0 col-md-12 col-xs-offset-1 col-xs-10">
    <p class="info text-center text1">{{ info.bio }}</p>
  </div>
</div>

<!-- Coontributions Row -->
<div class="row div1">
  <!-- Commits Col -->
  <div class="col-md-4 col-xs-4">
    <div>
      <p class="category text-center text1"><b>Issues Submitted</b><br/><span class="info inline text2">{{ info.issues }}</span></p>
    </div>
  </div>
  <!-- Issues Col -->
  <div class="col-md-4 col-xs-4">
    <div>
      <p class="category text-center text1"><b>Commits Made</b><br/><span class="info inline text2">{{ info.commits }}</span></p>
    </div>
  </div>
  <!-- Units Tests Col -->
  <div class="col-md-4 col-xs-4">
    <div>
      <p class="category text-center text1"><b>Unit Tests Created</b><br/><span class="info inline text2">{{ info.tests }}</span></p>
    </div>
  </div>
</div>
<!-- Major Responsibilities row -->
<div class="row div1">
  <div class="col-md-12 col-xs-12">
    <div>
      <p class="category text-center text1"><b>Major Responsibilities</b><br/><span class="info inline text2">{{ info.responsibilities }}</span></p>
    </div>
  </div>
</div>   
