<div id="header"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h2 class="text-center">Recipes</h2>
        </div>
    </div>
</div>
<div class ="container" style="overflow:auto">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td width="20%">
                            <a ng-click="sortType = 'title'; sortReverse = !sortReverse">Title</a>
                            <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
                        </td>
                        <td width="20%">
                            <a ng-click="sortType = 'readyInMinutes'; sortReverse = !sortReverse">Ready In: (Minutes)</a>
                            <span ng-show="sortType == 'readyInMinutes' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'readyInMinutes' && sortReverse" class="fa fa-caret-up"></span>
                        </td>
                        <td width="20%">
                            <a ng-click="sortType = 'servings'; sortReverse = !sortReverse">Servings</a>
                            <span ng-show="sortType == 'servings' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'servings' && sortReverse" class="fa fa-caret-up"></span>
                        </td>

                        <td width="20%">
                            <a ng-click="sortType = 'calories'; sortReverse = !sortReverse">Calories</a>
                            <span ng-show="sortType == 'calories' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'calories' && sortReverse" class="fa fa-caret-up"></span>
                        </td>
                        <td width="20%">
                            <a ng-click="sortType = 'numberOfSteps'; sortReverse = !sortReverse">Number of Steps</a>
                            <span ng-show="sortType == 'numberOfSteps' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'numberOfSteps' && sortReverse" class="fa fa-caret-up"></span>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="recipe in recipes | orderBy:sortType:sortReverse|itemsPerPage:2">
                        <td><a ng-href="recipes/{{recipe.id}}">{{ recipe.title }}</a></td>
                        <td>{{ recipe.readyInMinutes }}</td>
                        <td>{{ recipe.servings }}</td>
                        <td>{{ recipe.calories }}</td>
                        <td>{{ recipe.numberOfSteps }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row text-center">
        <dir-pagination-controls
          max-size="2"
          direction-links="true"
          boundary-links="true" >
        </dir-pagination-controls>
    </div>
</div>
