
<body>
    <div id="header"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <h2 class="text-center">Recipes</h2>
      </div>
  </div>
</div>
<div class ="container">
  <div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Time (minutes)</th>
                <th>Servings</th>
                <th>Calories</th>
                <th>Steps</th>
            </tr>
            <tr>
                <td>I'm</td>
                <td>the</td>
                <td>best</td>
                <td>front-end</td>
                <td>developer</td>
            </tr>
            <tr>
                <td>I'm</td>
                <td>the</td>
                <td>best</td>
                <td>front-end</td>
                <td>developer</td>
            </tr>
            <tr>
                <td>I'm</td>
                <td>the</td>
                <td>best</td>
                <td>front-end</td>
                <td>developer</td>
            </tr>
            <tr>
                <td>I'm</td>
                <td>the</td>
                <td>best</td>
                <td>front-end</td>
                <td>developer</td>
            </tr>
        </table>
    </div>
</div>
</body>
