a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

body {
  background: #1d1e1e;
  color: #fcfcfc;
}

.col-center {
  float: none;
  margin: 0 auto;
}

/*Bootstrap customization*/
@media (min-width: 768px){
  .col-md-5 {
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .nav>li>a {
    color: white;
    padding: 30 15px
  }
/*expand from middle effect*/
.nav>li>a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 5px;
    left: 50%;
    background: #06fbb4;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

/* width + 2 * left = 100 */
.nav>li>a:hover:after {
  width: 80%;
  left: 10%;
}
}

.navbar {
  z-index: 999;
  margin: 0;
  border: 0;
  padding: 25px;
}

.navbar-brand {
  padding: 12px 30px;
  height: 100%
}

.navbar-brand img {
  width: 60px;
}

.navbar-right {
  margin-right: 0;
}

.nav>li>a {
  color: white;
  text-transform: uppercase;
  /*padding: 30px 15px*/
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: inherit;
}




.navbar-transparent {
 background-color: transparent;
 background: transparent;
 border-color: transparent;
}

.navbar-transparent li { color: #000 } 

.navbar-toggle {
  margin: 0;
  border: 0;
  padding: 20px 15px;
}

.navbar-toggle .icon-bar {
  background-color: white;
}
/*END Bootstrap customization*/

/*Splash CSS*/
.hero-splash {
  background-image: linear-gradient( rgba(30, 33, 37, 0.1), rgba(30, 33, 37, 0.4) ), url(../images/splash.jpeg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed; 
  background-color: #202020;
  color: #fff;
  min-width: 100%;
  min-height: 100%;
  top: 0; 
  left: 0;
}
/*END Splash*/

.splash-piller {
  font-size: 200px; 
};

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile {
 max-width: 75%;
 height: auto;
}

.logo {
 max-height: 10%;
}

.category {
 font-size: 16px;
}

.info {
 font-size: 16px;
}

.inline {
 display:inline;
}

.member {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}

.overflow {
  overflow:scroll;
}

.propic {
  max-width: 400px;
}
.divcolor1{
  background-color:#e1c18f
}
.divcolor2{
  background-color:#7c7254
}
.divcolor3{
  background-color:#031d42
}
.divcolor4{
  background-color:#690202
}
.divcolor5{
  background-color:#dbd9b7
}
.textcolor1{
  color:#e1c18f
}
.textcolor2{
  color:#7c7254
}
.textcolor3{
  color:#031d42
}
.textcolor4{
  color:#690202
}
.textcolor5{
  color:#dbd9b7
}

.roomy {
  padding: 10px;
}

.antisocial {
  margin-top:20px;
  margin-bottom:20px;
}
