a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.col-md-five {
  width: 20%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-brand {
  padding: 5px 15px;
}

.splash-piller {
    font-size: 200px; 
};

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile {
	max-width: 75%;
  height: auto;
}

.logo {
	max-height: 10%;
}

.category {
	font-size: 16px;
}

.info {
	font-size: 16px;
}

.inline {
	display:inline;
}

.member {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}

.overflow {
  overflow:scroll;
}

.propic {
  max-width: 400px;
}
.divcolor1{
  background-color:#e1c18f
}
.divcolor2{
  background-color:#7c7254
}
.divcolor3{
  background-color:#031d42
}
.divcolor4{
  background-color:#690202
}
.divcolor5{
  background-color:#dbd9b7
}
.textcolor1{
  color:#e1c18f
}
.textcolor2{
  color:#7c7254
}
.textcolor3{
  color:#031d42
}
.textcolor4{
  color:#690202
}
.textcolor5{
  color:#dbd9b7
}

.roomy {
  padding: 10px;
}

.antisocial {
  margin-top:20px;
  margin-bottom:20px;
}

.hero-unit {
    background-image:url('../images/splash.jpeg');
    background-size:cover;
    background-color: seashell;
    width: 100%;
    height: 100vh;
}

.navbar {
    margin-bottom: 0;
}