<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/styles.css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/script.js"></script>
  <script> 
  $(function(){
    $("#header").load("header"); 
    // $("#footer").load("footer.html"); 
  });
  </script>
  <title>BoilerPl8 - About</title>
</head>

<body>
  <div id="header"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <h2 class="text-center">About Us</h2>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <!-- member 1/2 row -->
    <div class="row">      

      <!-- Member 1 col-->
      <div class = "col-md-offset-2 col-md-4 col-xs-12">
        <!-- Picture Row -->
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <img src="/static/images/seth.jpeg" class="img-circle center-block profile">
          </div>
        </div>
        <!-- Name  Row -->
        <div class-"row">
          <div class="col-md-12 col-xs-12"> 
            <h2 class="text-center">Seth Milligan</h2>
          </div>
        </div>         
        <!-- Resposibilities/Bio Row -->
        <div class="row">
          <!-- Responsibilities, commits, issues, unit tests col -->
          <div class="col-md-6 col-xs-6">    
            <br>    
            <p class="category">
              <b>Major Responsibilities: </b>
              <span class="info inline">Backend</span>
            </p>
            <p class="category">
              <b>Commits Made: </b>
              <span class="info inline">-</span>
            </p>
            <p class="category"><b>Issues Submitted: </b><span class="info inline">-</span></p>
            <p class="category"><b>Unit Tests Created: </b><span class="info inline">9</span></p>
            <br>        
          </div>

          <!-- bio col -->
          <div class="col-md-6 col-xs-6">
            <br>
            <p class="category"><b>Bio: </b><p class="info">Hey everyone! My name is Seth and I’m a senior studying computer science at the University of Texas at Austin. Some of my hobbies include disc golf, playing board games, and listening to music.</p></p>
            <br>
          </div>
        </div>
      </div>
      <!-- end member 1 col -->

      <!-- Member 2 col-->
      <div class = "col-md-4 col-xs-12">
        <!-- Picture Row -->
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <img src="/static/images/alan.jpg" class="img-circle center-block profile">
          </div>
        </div>
        <!-- Name  Row -->
        <div class-"row">
          <div class="col-md-12 col-xs-12"> 
            <h2 class="text-center">Alan Ma</h2>
          </div>
        </div>         
        <!-- Resposibilities/Bio Row -->
        <div class="row">
          <!-- Responsibilities, commits, issues, unit tests col -->
          <div class="col-md-6 col-xs-6">    
            <br />    
            <p class="category">
              <b>Major Responsibilities: </b>
              <span class="info inline">Nothing</span>
            </p>
            <p class="category">
              <b>Commits Made: </b>
              <span class="info inline">-</span>
            </p>
            <p class="category"><b>Issues Submitted: </b>-<span class="info inline">-</span></p>
            <p class="category"><b>Unit Tests Created: </b>-<span class="info inline">9</span></p>
            <br>        
          </div>

          <!-- bio col -->
          <div class="col-md-6 col-xs-6">
            <br/>
            <p class="category"><b>Bio: </b><p class="info">Hey everyone! My name is Seth and I’m a senior studying computer science at the University of Texas at Austin. Some of my hobbies include disc golf, playing board games, and listening to music.</p></p>
            <br>
          </div>
        </div>
      </div>
      <!-- end member 2 col -->
    </div>
    <!-- end of member 1/2 row -->
    <br/>
        <br/>

    <!-- start of member 3/4 row -->
    <div class="row">
      <!-- Member 3 col-->
      <div class = "col-md-offset-2 col-md-4 col-xs-12">
        <!-- Picture Row -->
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <img src="/static/images/anthony.jpeg" class="img-circle center-block profile">
          </div>
        </div>
        <!-- Name Row -->
        <div class-"row">
          <div class="col-md-12 col-xs-12"> 
            <h2 class="text-center">Anthony Gallop</h2>
          </div>
        </div>         
        <!-- Resposibilities/Bio Row -->
        <div class="row">
          <!-- Responsibilities, commits, issues, unit tests col -->
          <div class="col-md-6 col-xs-6">    
            <br>    
            <p class="category">
              <b>Major Responsibilities: </b>
              <span class="info inline">-</span>
            </p>
            <p class="category">
              <b>Commits Made: </b>
              <span class="info inline">-</span>
            </p>
            <p class="category"><b>Issues Submitted: </b><span class="info inline">-</span></p>
            <p class="category"><b>Unit Tests Created: </b><span class="info inline">9</span></p>
            <br>        
          </div>

          <!-- bio col -->
          <div class="col-md-6 col-xs-6">
            <br>
            <p class="category"><b>Bio: </b><p class="info">My name is Anthony Gallop (That's -op, not -up. I'm suing the Gallup Poll for pain and suffering). My hobbies include playing video games and making bad chat bots. </p></p>
            <br>
          </div>
        </div>
      </div>
      <!-- end member 3 col -->      

      <!-- Member 4 col-->
      <div class = "col-md-4 col-xs-12">
        <!-- Picture Row -->
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <img src="/static/images/jessica.jpeg" class="img-circle center-block profile">
          </div>
        </div>
        <!-- Name  Row -->
        <div class-"row">
          <div class="col-md-12 col-xs-12"> 
            <h2 class="text-center">Jessica Lindee</h2>
          </div>
        </div>         
        <!-- Resposibilities/Bio Row -->
        <div class="row">
          <!-- Responsibilities, commits, issues, unit tests col -->
          <div class="col-md-6 col-xs-6">    
            <br>    
            <p class="category">
              <b>Major Responsibilities: </b>
              <span class="info inline">Nothing</span>
            </p>
            <p class="category">
              <b>Commits Made: </b>
              <span class="info inline">-</span>
            </p>
            <p class="category"><b>Issues Submitted: </b><span class="info inline">-</span></p>
            <p class="category"><b>Unit Tests Created: </b><span class="info inline">9</span></p>
            <br>        
          </div>

          <!-- bio col -->
          <div class="col-md-6 col-xs-6">
            <br>
            <p class="category"><b>Bio: </b><p class="info">Hey everyone! My name is Seth and I’m a senior studying computer science at the University of Texas at Austin. Some of my hobbies include disc golf, playing board games, and listening to music.</p></p>
            <br>
          </div>
        </div>
      </div>
      <!-- end member 4 col --> 
    </div>
    <!-- end of member 3/4 row -->
     
    <!-- start of member 5 row -->
    <div class="row">
      <!-- Member 5 col-->
      <div class = "col-md-offset-4 col-md-4 col-xs-12">
        <!-- Picture Row -->
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <img src="/static/images/place-holder.png" class="img-circle center-block profile">
          </div>
        </div>
        <!-- Name  Row -->
        <div class-"row">
          <div class="col-md-12 col-xs-12"> 
            <h2 class="text-center">Zach Gilkerson</h2>
          </div>
        </div>         
        <!-- Resposibilities/Bio Row -->
        <div class="row">
          <!-- Responsibilities, commits, issues, unit tests col -->
          <div class="col-md-6 col-xs-6">    
            <br>    
            <p class="category">
              <b>Major Responsibilities: </b>
              <span class="info inline">Nothing</span>
            </p>
            <p class="category">
              <b>Commits Made: </b>
              <span class="info inline">-</span>
            </p>
            <p class="category"><b>Issues Submitted: </b><span class="info inline">-</span></p>
            <p class="category"><b>Unit Tests Created: </b><span class="info inline">9</span></p>
            <br>        
          </div>

          <!-- bio col -->
          <div class="col-md-6 col-xs-6">
            <br>
            <p class="category"><b>Bio: </b><p class="info">Hey everyone! My name is Seth and I’m a senior studying computer science at the University of Texas at Austin. Some of my hobbies include disc golf, playing board games, and listening to music.</p></p>
            <br>
          </div>
        </div>
      </div>
      <!-- end member 5 col --> 
    </div>
    <!-- end of member 5 row --> 
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-offset-2 col-md-4 col-xs-6">
        <!-- Tools -->
        <br>
        <h2 class="text-center">Tools</h2>
      </div>
      <div class="col-md-4 col-xs-6">
        <!-- Data -->
        <br>
        <h2 class="text-center">Data Used</h2>
      </div>
    </div>

  </div>
  <!-- end of container -->
</body>

<!--Remaining section-->
<!-- <div id="footer"></div></body> -->
</html>
