<html>
    <body>
        <link rel="stylesheet" href="/static/css/site.css">
        <h2>Ingredients</h2>
        <a href={{ url_for('index') }}>Back to index</a>
        <table>
            <tr>
                <th>Name</th>
                <th>Cost</th>
                <th>Origin</th>
                <th>Common Cuisines</th>
<!--             </tr>
            {% for ingredient in ingredients %}
                <tr>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ ingredient.cost }}</td>
                    <td>{{ ingredient.origin }}</td>
                    <td>{{ ingedient.cuisine }}</td>
                </tr>
            {% endfor %} -->
        </table>
    </body
</html>